{% extends 'accounting/base.html' %}

{% block menu %}
	{% include 'accounting/menu.html' %}
{% endblock %}

{% block content %}
{% load humanize %}
<div class="row">
	<div class="col-md-12 mt-1">
		<form method="GET">
			<table class="table table-sm table-bordered">
				<colgroup>
					<col width="10%"/>
					<col />
					<col width="10%"/>
				</colgroup>
				<tr>
					<td rowspan="2">구분선택</td>
					<td>
						<select name="year">
							{% for y in year_range %}
							<option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
							{% endfor %}
						</select>
					</td>
					<td rowspan="2">
						<input type="submit" class="btn btn-primary btn-sm py-0" value="조회">
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div class="row mb-4">
	<div class="col-md-12">
		<center><h1 class="mt-3 mb-3">연별시산표</h1></center>
		<div class="table-responsive">
			<table class="table table-bordered table-sm">
				<thead class="thead-light text-center th-nowrap">
					<tr>
						<th>코드</th>
						<th>계정명</th>
						<th>결산액</th>
						{% for ym in ym_list %}
						<th>{{ ym.y }}년 {{ ym.m }}월</th>
						{% endfor %}
						<th>총합계</th>
					</tr>
				</thead>
				<tbody class="text-center td-align-middle">
					{% for item in item_list %}
					<tr>
						<td style="white-space:nowrap;">{{ item.paragraph.subsection.code }}{{ item.paragraph.code }}{{ item.code }}</td>
						<td style="white-space:nowrap;">{{ item.context }}</td>
						<td class="text-right">{{ item.total_settlement|intcomma }}</td>
						{% for ms in item.ms_list %}
						<td class="text-right">{{ ms|intcomma }}</td>
						{% endfor %}
						<td class="text-right">{{ item.total_settlement|intcomma }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var s_type = $('input[name="s_type"]:checked').val();
	if (s_type == 1) {
		$('#month').css('display', 'none');
		$('#month').attr('disabled', 'disabled');
	}
	else if (s_type == 2) {
		$('#month').removeAttr("style");
		$('#month').removeAttr("disabled");
	}
});

$('input:radio[name="s_type"]').click(function () {
	var s_type = $('input[name="s_type"]:checked').val();
	if (s_type == 1) {
		$('#month').css('display', 'none');
		$('#month').attr('disabled', 'disabled');
	}
	else if (s_type == 2) {
		$('#month').removeAttr("style");
		$('#month').removeAttr("disabled");
	}
});

</script>

{% endblock %}

