<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top mt-4">
	<div class="container">
		<a class="navbar-brand" href="index.html">erowm</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {{ user_list_page }}">
					<a class="nav-link" href="{% url 'user_list' %}">사용승인관리</a>
				</li>
				<li class="nav-item {{ user_transform_page}}">
					<a class="nav-link" href="{% url 'user_transform' %}">회계관리지원</a>
				</li>
				<li class="nav-item {{ sales_list_page }}">
					<a class="nav-link" href="{% url 'sales_list' %}">영업사원관리</a>
				</li>
				<li class="nav-item {{ agency_list_page }}">
					<a class="nav-link" href="{% url 'agency_list' %}">대리점관리</a>
				</li>
				<li class="nav-item {{ bankda_account_page }}">
					<a class="nav-link" href="{% url 'bankda_account' %}">뱅크다계좌</a>
				</li>
				<li class="nav-item {{ setting_page }} dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">프로그램설정</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
						<a class="dropdown-item {{ spi_list_page }}" href="{% url 'spi_list' %}">관항목관리</a>
					</div>
				</li>
				<li class="nav-item {{ print_page }} dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">양식출력</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
						<a class="dropdown-item" href="#">대리점관리</a>
						<a class="dropdown-item" href="#">사원관리대장</a>
						<a class="dropdown-item" href="#">입금관리대장</a>
						<a class="dropdown-item" href="#">거래처별입금</a>
						<a class="dropdown-item" href="#">수수료정산</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
