{% extends 'accounting/base.html' %}

{% block menu %}
	{% include 'accounting/menu.html' %}
{% endblock %}

{% block content %}
<h1 class="mb-3">{% if budget_type == 'revenue' %}세입{% elif budget_type == 'expenditure' %}세출{% elif budget_type|slice:":21" == 'supplementary_revenue' %}{{ budget_type.22 }}차추경세입{% elif budget_type|slice:":25" == 'supplementary_expenditure' %}{{ budget_type.26 }}차추경세출{% endif %}예산등록</h1>

<div class="row">
	<div class="col-md-12">
		<form name="searchForm" method="POST" action="{% url 'annual_budget' budget_type=budget_type %}">
			{% csrf_token %}
			<table class="table table-bordered table-sm text-nowrap">
				<thead class="thead-light">
					<tr>
						<th>검색</th>
						{% if budget_type|slice:":13" == "supplementary" %}
						<td>
							<select name="budget_type" onchange="location = this.value;">
								<option value="/budget/{{ budget_type|slice:":-2" }}_1/" {% if budget_type|slice:"-1:" == '1' %}selected{% endif %}>1차</option>
								<option value="/budget/{{ budget_type|slice:":-2" }}_2/" {% if budget_type|slice:"-1:" == '2' %}selected{% endif %}>2차</option>
							</select>
						</td>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>회계년도</td>
						<td>
							<select name="year">
								{% for y in year_range %}
								<option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
								{% endfor %}
							</select>
							<input type="submit" value="조회">
						</td>
					</tr>
					<tr>
						<td>예산금액</td>
						<td>세입: {{ total_revenue }} | 세출: {{ total_expenditure }} | 차액: {{ total_difference }}</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<input type="button" class="btn btn-primary btn-sm float-right" value="저장" onclick="writeCheck();">
		<form name="writeForm" method="POST" action="{% url 'regist_annual_budget' %}">
			{% csrf_token %}
			<input type="hidden" name="budget_year" value="{{ year }}">
			<input type="hidden" name="budget_type" value="{{ budget_type }}">

			<input type="hidden" name="budget_spi">
			<input type="hidden" name="budget_row">
			<input type="hidden" name="budget_price">
			<input type="hidden" name="budget_context">
			<input type="hidden" name="budget_unit_price">
			<input type="hidden" name="budget_cnt">
			<input type="hidden" name="budget_months">
			<input type="hidden" name="budget_percent">
			<input type="hidden" name="budget_sub_price">

			<div class="table-responsive">
				{% if not budget_list %}
				<table id="tr-table" class="table table-bordered table-sm text-nowrap mt-0">
					<thead class="thead-light text-center">
						<tr>
							<th>코드</th>
							<th>관</th>
							<th>항</th>
							<th>목</th>
							<th>예산액</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-center" id="tr-tbody">
						{% for spi in spi_list %}
						<tr>
							<td class="align-middle">{{ spi.paragraph.subsection.code }}{{ spi.paragraph.code }}{{ spi.code }}</td>
							<td class="align-middle">{{ spi.paragraph.subsection.context }}</td>
							<td class="align-middle">{{ spi.paragraph.context }}</td>
							<td class="align-middle">{{ spi.context }}</td>
							<td class="align-middle"><input type="text" name="budget_price" size="8" readonly></td>
							<td style="padding:0">
								<input type="hidden" name="budget_spi" value="{{ spi.id }}">
								<input type="hidden" name="budget_row" value="1">
								<table width=100% id="sub-table-{{ forloop.counter }}" class="table-sm my-0" frame="void">
									<tr name="sub-tr-{{ forloop.counter }}">
										<td><input type="text" name="budget_context" size="15"></td>
										<td><input type="text" name="budget_unit_price" size="8" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> 원</td>
										<td><input type="text" name="budget_cnt" size="2" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> 명</td>
										<td><input type="text" name="budget_months" size="2" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> 개월</td>
										<td><input type="text" name="budget_percent" size="2" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> %</td>
										<td><input type="text" name="budget_sub_price" size="8" readonly></td>
									</tr>
								</table>
							</td>
							<td class="align-middle">
								<input type="button" class="btn btn-sm btn-primary py-0" value="추가" onclick="javascript:add_row({{ forloop.counter }});">
								<input type="button" class="btn btn-sm btn-primary py-0" value="삭제" onclick="javascript:delete_row({{ forloop.counter }});">
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<table id="tr-table" class="table table-bordered table-sm text-nowrap">
					<thead class="thead-light text-center">
						<tr>
							<th>코드</th>
							<th>관</th>
							<th>항</th>
							<th>목</th>
							<th>예산액</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-center" id="tr-tbody">
						{% for spi in spi_list %}
						{% with forloop.counter as outer_counter %}
						<tr>
							<td class="align-middle">{{ spi.paragraph.subsection.code }}{{ spi.paragraph.code }}{{ spi.code }}</td>
							<td class="align-middle">{{ spi.paragraph.subsection.context }}</td>
							<td class="align-middle">{{ spi.paragraph.context }}</td>
							<td class="align-middle">{{ spi.context }}</td>
							<td class="align-middle"><input type="text" name="budget_price" size="8" value="{{ spi.budget_price }}" readonly></td>
							<td style="padding:0">
								<input type="hidden" name="budget_spi" value="{{ spi.id }}">
								<input type="hidden" name="budget_row" value="{{ spi.budget_row }}">
								<table width=100% id="sub-table-{{ outer_counter }}" class="table-sm my-0" frame="void">
									{% if spi.sub_budget %}
									{% for sub_list in spi.sub_budget %}
									<tr name="sub-tr-{{ outer_counter }}">
										<td><input type="text" name="budget_context" size="15" value="{{ sub_list.context }}"></td>
										<td><input type="text" name="budget_unit_price" size="8" value="{{ sub_list.unit_price }}" onchange="calc({{ outer_counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ outer_counter }})'> 원</td>
										<td><input type="text" name="budget_cnt" size="2" value="{{ sub_list.cnt }}" onchange="calc({{ outer_counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ outer_counter }})'> 명</td>
										<td><input type="text" name="budget_months" size="2" value="{{ sub_list.months }}" onchange="calc({{ outer_counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ outer_counter }})'> 개월</td>
										<td><input type="text" name="budget_percent" size="2" value="{{ sub_list.percent }}" onchange="calc({{ outer_counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ outer_counter }})'> %</td>
										<td><input type="text" name="budget_sub_price" size="8" value="{{ sub_list.sub_price }}" readonly></td>
									</tr>
									{% endfor %}
									{% else %}
									<tr name="sub-tr-{{ forloop.counter }}">
										<td><input type="text" name="budget_context" size="15"></td>
										<td><input type="text" name="budget_unit_price" size="8" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> 원</td>
										<td><input type="text" name="budget_cnt" size="2" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> 명</td>
										<td><input type="text" name="budget_months" size="2" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> 개월</td>
										<td><input type="text" name="budget_percent" size="2" onchange="calc({{ forloop.counter }});" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' onfocusout='removeChar(event, {{ forloop.counter }})'> %</td>
										<td><input type="text" name="budget_sub_price" size="8" readonly></td>
									</tr>
									{% endif %}
								</table>
							</td>
							<td class="align-middle">
								<input type="button" class="btn btn-sm btn-primary py-0" value="추가" onclick="javascript:add_row({{ forloop.counter }});">
								<input type="button" class="btn btn-sm btn-primary py-0" value="삭제" onclick="javascript:delete_row({{ forloop.counter }});">
							</td>
						</tr>
						{% endwith %}
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
		</form>
		<input type="button" class="btn btn-primary btn-sm float-right" value="저장" onclick="writeCheck();">
	</div>
</div>
<script type="text/javascript">
function add_row(index) {
	$(function () {
	        $.ajax({
			type: "POST",
			url: {% url 'add_row' %},
			data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'page': "annual_budget"},
			dataType: "json",
			success: function(response) {
				$('#sub-table-'+index).append($('#sub-table-'+index+' tr').last().clone())
				$('#sub-table-'+index+' tr').last().find('input[type="text"]').val("");
				var f = document.writeForm;
				f.budget_row[index].value = Number(f.budget_row[index].value) + 1;
			},
		});
	});
}

function delete_row(index) {
	$(function () {
	        $.ajax({
			type: "POST",
			url: {% url 'delete_row' %},
			data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'page': "annual_budget"},
			dataType: "json",
			success: function(response) {
				if(document.getElementsByName("sub-tr-"+index).length > 1) {
					$('#sub-table-'+index+' tr').last().remove()
					var f = document.writeForm;
					f.budget_row[index].value = Number(f.budget_row[index].value) - 1;
					calc(index);
				}
			},
		});
	});
}

function calc(index) {
	var f = document.writeForm;
	var budget_price = 0;
	var startNum = 0;

	for(var i = 1; i < index; i++) {
		startNum += document.getElementsByName("sub-tr-"+i).length;
	}
	var len = document.getElementsByName("sub-tr-"+index).length;

	for(var i = startNum+1; i <= startNum+len; i++) {
		if(f.budget_percent[i].value) {
			console.log('percent : '+f.budget_percent[i].value);
			sub_price = f.budget_unit_price[i].value * f.budget_cnt[i].value * f.budget_months[i].value * (f.budget_percent[i].value * 0.01);
		}
		else {
			console.log('percent : '+f.budget_percent[i].value);
			sub_price = f.budget_unit_price[i].value * f.budget_cnt[i].value * f.budget_months[i].value;
		}
		f.budget_sub_price[i].value = sub_price
		budget_price += sub_price
	}
	f.budget_price[index].value = budget_price;
}

function writeCheck(f) {
	var f = document.writeForm;
	var cnt = document.getElementsByName("budget_price").length;
	var index = 1;
	for(var i = 1; i < cnt; i++) {
		var len = document.getElementsByName("sub-tr-"+i).length;
		for(var j = index; j < index+len; j++) {
			if ( (len == 1 && (f.budget_unit_price[j].value || f.budget_cnt[j].value || f.budget_months[j].value)) || (len !=1 && (!f.budget_context[j].value || !f.budget_unit_price[j].value || !f.budget_cnt[j].value || !f.budget_months[j].value)) ) {
				if(!f.budget_context[j].value) {
					alert("항목을 입력해주세요.");
					f.budget_context[j].focus();
					return;
				}
				if(!f.budget_unit_price[j].value) {
					alert("단가를 입력해주세요.");
					f.budget_unit_price[j].focus();
					return;
				}
				if(!f.budget_cnt[j].value) {
					alert("인원을 입력해주세요.");
					f.budget_cnt[j].focus();
					return;
				}
				if(!f.budget_months[j].value) {
					alert("개월을 입력해주세요.");
					f.budget_months[j].focus();
					return;
				}
			}
		}
		index += len;
	}
	f.submit();
}
function onlyNumber(event){
	event = event || window.event;
	var keyID = (event.which) ? event.which : event.keyCode;
	if ( (keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID == 8 || keyID == 9 || keyID == 37 || keyID == 39 ) 
		return;
	else
		return false;
}
function removeChar(event, index) {
	event = event || window.event;
	var keyID = (event.which) ? event.which : event.keyCode;
	if ( keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39 ) 
		return;
	else
		event.target.value = event.target.value.replace(/[^0-9]/g, "");
	if ( index )
		calc(index);
}
</script>
{% endblock %}

